@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4"><span style="font-size: 30px;"></span></h1>
</div>

<div>
    <h2><strong>Bilgisayar Mühendisi Değerlendirme Ölçütleri</strong></h2><br>

</div>