@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">
        <span style="font-size: 20px;">
            Bilgisayar mühendisliği sürekli olarak kendini yenileyen ve gelişime açık bir daldır.
            Bu sitede ne kadar iyi bir bilgisayar mühendisi olduğunu anlayacaksınız. 🙂
        </span>
    </h1>
</div>