@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1 class="display-4"><span style="font-size: 30px;"></span></h1>
    
</div>

<div class="page-container">

    <h2><strong>Bilgisayar Mühendisi Değerlendirme Ölçütleri</strong></h2><br>
    <p><strong>1.</strong> Bildiğiniz programlama dillerini seçiniz.</p>

        <form action="/action_page.php">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="C++">
            <label for="vehicle1"> C++</label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="C">
            <label for="vehicle2"> C </label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Java">
            <label for="vehicle2"> Java </label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Python">
            <label for="vehicle2"> Python </label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="C#">
            <label for="vehicle2">C#</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Dart">
            <label for="vehicle3"> Dart </label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="React Native">
            <label for="vehicle3"> React Native</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="PHP">
            <label for="vehicle3"> PHP</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Fortran">
            <label for="vehicle3"> Fortran</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="JS">
            <label for="vehicle3"> JS</label><br><br>
      
        </form>
  
   
    <p><strong>2.</strong> Lisans genel not ortalamanız nedir? </p>

    <form action="/action_page.php">
        <input type="radio" id="not1" name="not" value="1">
        <label for="not1">2,0 - 2,5</label><br>
        <input type="radio" id="not2" name="not" value="2">
        <label for="not2">2,5 - 3,0</label><br>
        <input type="radio" id="not3" name="not" value="3">
        <label for="not3">3,0 - 3,5</label><br>
        <input type="radio" id="not4" name="not" value="4">
        <label for="not4">3,5 - 4,0</label><br><br>
    </form>


    <p><strong>3.</strong> İngilizce seviyeniz nedir? </p>
   
        <form action="/action_page.php">
        <input type="radio" id="i1" name="not" value="1">
        <label for="i1">A1</label><br>
        <input type="radio" id="i2" name="not" value="2">
        <label for="i2">A2</label><br>
        <input type="radio" id="i3" name="not" value="3">
        <label for="i3">B1</label><br>
        <input type="radio" id="i4" name="not" value="4">
        <label for="i4">B2</label><br>
        <input type="radio" id="i5" name="not" value="3">
        <label for="i3">C1</label><br>
        <input type="radio" id="i6" name="not" value="4">
        <label for="i4">C2</label><br><br>
         </form>


    <p><strong>4.</strong> Kaç projede bulundunuz?</p>
    <form action="/action_page.php">
        <input type="radio" id="pr1" name="pr" value="1">
        <label for="pr1">1-5</label><br>
        <input type="radio" id="not2" name="pr" value="2">
        <label for="pr2">5-10</label><br>
        <input type="radio" id="not3" name="pr" value="3">
        <label for="pr3">10 ve üzeri</label><br><br>
    </form>

    <p><strong>5.</strong> İş tecrübeniz oldu mu, olduysa kaç yıl?</p>
    <form action="/action_page.php">
        <input type="radio" id="pr1" name="pr" value="1">
        <label for="pr1">hayır</label><br>
        <input type="radio" id="not2" name="pr" value="2">
        <label for="pr2">2 yıl ve altı</label><br>
        <input type="radio" id="not3" name="pr" value="3">
        <label for="pr3">2 - 7 yıl</label><br>
        <input type="radio" id="not3" name="pr" value="3">
        <label for="pr3">7 yıl ve üzeri</label><br><br>
    </form>

    <p><strong>6.</strong>Hangi okuldan mezunsunuz?</p>
    <form action="/action_page.php">
        <input type="text" id="fname" name="fname"><br><br>
    </form>  

</div>


@using (Html.BeginForm())
{
    <input type="submit" value="Gönder" />
}
